@import "../../variables.scss";

.options-list-button {
	display: flex;
	align-items: center;
	height: 33px;
	margin: 0 3px 4px 3px;
	padding: 0 6px;
	border: 0;
	border-radius: 3px;
	color: black;
	background: rgba(255, 255, 255, 0.8);
	font-size: inherit;
	cursor: pointer;
}

.options-list-button:hover,
.options-list-button:focus {
	background: white;
}

.modal-icon {
	flex-shrink: 0;
}

.modal-color-picker-wrapper {
	position: relative;
}

.modal-color-picker {
	z-index: 2;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-wrap: wrap;
	width: 120px;
	margin-top: 4px;
	padding: 5px;
	border-radius: 3px;
	color: black;
	background: white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
	font-weight: 700;
	text-align: center;
}

.picker-button {
	background: $grey;
	border-radius: $border-radius;
	padding: 5px 8px;
	margin: 5px;
}
