@import "../../variables.scss";

.board {
	display: inline-flex;
	height: 100%;
	min-width: 100%;
}

.board-underlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	transition: background 0.3s;
}

.light .board-underlay {
	background: $light-grey;
}

.dark .board-underlay {
	background: $dark-grey;
}

.blue .board-underlay {
	background: $blue;
}

.lists-wrapper {
	display: inline-flex;
	box-sizing: border-box;
	height: 100%;
	padding: 60px 5px 8px 5px;
}

.lists {
	display: inline-flex;
	align-items: flex-start;
	height: 100%;
	user-select: none;
}
