$white: #FFFFFF;
$lighter-grey: #F7F8F8;
$light-grey: #EAECEE;
$grey: #C9CFD3;
$dark-grey: #51575D;
$black: #272930;

$green: #06C392;
$blue: #0179BE;
$red: #EA725B;

$dark-green: #016d51;
$dark-blue: #00578a;
$dark-red: #a03f2c;

$transparent-green: rgba(6, 195, 146, 0.65);
$transparent-blue: rgba(1, 121, 190, 0.75);
$transparent-red: rgba(234, 114, 91, 0.65);
$transparent-grey: rgba(201, 207, 211, 0.75);

$success-button-color: #06C392;
$success-button-color-hover: #03926d;

$transparent-black: rgba(0, 0, 0, 0.2);
$less-transparent-black: rgba(39, 41, 48, 0.5);
$transparent-white: rgba(255, 255, 255, 0.4);

$list-width: 300px;
$border-radius: 3px;

$bs: 0 5px 18px 0 rgba(0, 0, 0, 0.03);
$bs-dragging: 0 7px 15px 0 rgba(0, 0, 0, 0.08);

