@import "../../variables.scss";

.habits-wrapper {
	background-color: rgba(201, 207, 211, 0.25);
	width: 160px;
	padding: 25px 8px 8px 8px;
	margin-top: 40px;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	ul {
		margin-top: 10px;
	}

	hr {
		margin-bottom: 5px;
	}

	.card-title-html {
		padding: 0;
		display: inline;
		float: left;
		padding-right: 2px;
	}
}

.habits-card-title {
	position: relative;
	box-sizing: border-box;
	font-size: 15px;
	width: 100%;
	overflow: hidden;

	p {
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.habit-done {
		font-size: 10px;
		position: relative;
		top: -5px;
		color: $red;
	}
}

.habit-delete {
	cursor: pointer;
	color: $grey;
}

.habit-check {
	cursor: pointer;
	padding-right: 5px;
	color: $grey;
	font-size: 20px;

	&:hover {
		color: $green;
	}
}
