@import "../../variables.scss";

ul {
	list-style: none;
	padding: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $light-grey;
	padding: 0;
	margin: 0;
}

.sidebar-wrapper {
	background-color: $white;
	width: 200px;
	padding: 25px 8px 8px 8px;
	margin-top: 40px;
	box-shadow: $bs;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.header {
	font-size: 17px;
	color: $dark-grey;
	font-weight: 400;
	overflow-wrap: break-word;
	text-transform: uppercase;
	padding: 10px 0;
}

.sub-header {
	font-size: 14px;
	color: $grey;
	text-transform: uppercase;
}

.points {
	font-size: 23px;
	color: $red;
	font-weight: 700;
}

.sidebar-card-title-wrapper {
	position: relative;
	box-sizing: border-box;
	border-radius: 3px;
	color: $dark-grey;
	background: $white;
	border: 1px solid $light-grey;
	font-size: 15px;
	width: 100%;
	margin: 3px 0;
	padding: 3px;
}

.sidebar-card-title {
	position: relative;
	box-sizing: border-box;
	font-size: 15px;
	width: 100%;
	overflow: hidden;

	p {
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.delete {
	cursor: pointer;
}
