@import "../../variables.scss";

ul {
	list-style: none;
	padding: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $light-grey;
	padding: 0;
	margin: 0;
}

.sidebar-wrapper {
	background-color: $white;
	width: 220px;
	padding: 25px 8px 8px 8px;
	margin-top: 40px;
	box-shadow: $bs;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	ul {
		margin-top: 10px;
	}
}

.header {
	font-size: 17px;
	color: $dark-grey;
	font-weight: 400;
	overflow-wrap: break-word;
	text-transform: uppercase;
	padding: 10px 0;
}

.sub-header {
	font-size: 13px;
	color: $grey;
	text-transform: uppercase;
}

.sidebar-card-title-wrapper {
	position: relative;
	box-sizing: border-box;
	border-radius: 3px;
	color: $dark-grey;
	background: $white;
	border: 1px solid $light-grey;
	font-size: 15px;
	width: 100%;
	margin: 3px 0;
	padding: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	.delete {
		min-width: 16px;
	}
}

.today-date {
	text-transform: capitalize;
	font-size: 16px;
	font-style: italic;
	font-family: 'Pacifico', cursive;
	color: $dark-grey;
	margin-bottom: 0;
}

.sidebar-card-title {
	position: relative;
	box-sizing: border-box;
	font-size: 15px;
	width: 100%;
	overflow: hidden;

	p {
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.delete {
	cursor: pointer;
}

.stat-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	margin-top: 10px;

	.stat {
		margin: 0 5px;
		text-align: center;

		.points {
			font-size: 16px;
			color: $red;
		}
	}
}

.stat-section-tasks {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	.stat {
		margin: 0 5px;
		text-align: center;

		.points {
			font-size: 23px;
			color: $red;
			font-weight: 700;
		}
	}
}

.minute-badges {
	display: flex;
	font-size: 15px;
}

.minute-badge {
	padding: 3px 5px;
	border-radius: 3px;
	color: white;
}

.badge-Flatiron {
	background: #32cefe;
}

.badge-Kanban {
	background: #EA725B;
}

.badge-Graphic {
	background: #009ad0;
}
